@import 'timeline.scss';
@import 'block.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.custom-container {
  margin-left: 10px;
  margin-right: 10px;
}

.display-container {
  line-height: 0;
  padding: 10px;
}

.display-row {
  vertical-align: top;
  & > .watch {
    display: inline-block;
    margin: 1px
  }
}
